body{
    background-color: rgb(223, 222, 222);
    margin-top: 100px;
}

main{
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 1px 5px lightslategray;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

h1{
    font-size: 30px;
}

p{
    font-size: 23px;
    color: grey;
}

div{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
a{
    color: rgb(7, 106, 145);
}